<!--
 * Jacob Lanham
 * ITSE 1430
 * 12-08-2017
-->
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to MovieLib Web</h2>
</div>

<div class="row">
    <div>Jacob Lanham</div>
    <div>ITSE 1430</div>
</div>